ACCESS_TOKEN_EXPIRE_MINUTES=1440
SECRET_KEY=f2e1f1b1c1a1
JWT_ALGORITHM=HS256
SQLITE_DB_FILE=AppDatabase.db
IMG_PATH=frontend/public/tongue
IMG_DB_PATH=tongue

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_CONNECT_TIMEOUT=10
DEEPSEEK_READ_TIMEOUT=600

APP_PORT=5000
